# mengaktifkan 
RewriteEngine On
RewriteBase /jobsheet5/
# 'jobsheet5' nama file kita di local host

# memeriksa bahwa tidak terdapat file yang sesuai permintaan
RewriteCond %{REQUEST_FILENAME} !-f
# memeriksa bahwa tidak terdapat direktori yang sesuai permintaan
RewriteCond %{REQUEST_FILENAME} !-d
# menentukan lokasi yang akan diarahkan, [L] menghentikan pengecekan
RewriteRule ^home/?$ index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^mahasiswa/?$ views/mahasiswa/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambah/?$ views/mahasiswa/tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^prosestambah/?$ views/mahasiswa/proses_tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edit/(\d+)/?$ views/mahasiswa/edit.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapus/(\d+)/?$ views/mahasiswa/hapus.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dosen/?$ views/dosen/index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahdosen/?$ views/dosen/tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^prosestambahdosen/?$ views/dosen/proses_tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editdosen/(\d+)/?$ views/dosen/edit.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapusdosen/(\d+)/?$ views/dosen/hapus.php?id=$1 [L]